@import url(../../assets/fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Clash";
  src: url(../../assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.eot);
}
:root {
  --clash-extra-light: ClashDisplay-Extralight;
  --clash-light: ClashDisplay-Light;
  --clash-regular: ClashDisplay-Regular;
  --clash-medium: ClashDisplay-Medium;
  --clash-semibold: ClashDisplay-Semibold;
  --clash-bold: ClashDisplay-Bold;
  --clash-var: ClashDisplay-Variable;

  --mainfont: "Montserrat", sans-serif;
  --secondfont: "Merriweather", serif;
  --clash-reg: "Clash";
  --maincolor: #292929;
  --accent: #27ae60;
  --heading--size: 64px;
  --title-size: 48px;
  --subtitle-size: 24px;
  --peregrapgh-size: 16px;
  --main-font-color: #fff;
  --tag-color: rgba(39, 174, 96, 20%);
}
.disable {
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  height: 100vh;
  background: var(--maincolor);
  position: relative;
  overflow: hidden;
}
/* Ellipse 106 */

.main-bg {
  position: absolute;
  width: 1000px;
  height: 1060px;
  left: 50%;
  top: -800px;
  transform: translateX(-50%);
  background: var(--accent);
  filter: blur(400px);
  z-index: -1;
}
.glass {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #000000a7 0%, rgba(0, 0, 0, 0.217) 100%);
}

.main-font {
  font-family: var(--mainfont);
  color: var(--main-font-color);
}

.peregraph,
.link,
.button {
  font-family: var(--mainfont);
}
.btn-regular {
  background-color: #212121;
}

header {
  width: 100%;
}

.green {
  position: absolute;
  z-index: 1;
}

.green img {
  width: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 128px;
  z-index: 100;
}

.logo img {
  width: 112px;
  height: 36px;
}

.right {
  width: 132px;
}
.language {
  font-size: var(--subtitle-size);
  font-family: var(--clash-medium);
}
.title {
  font-family: var(--clash-medium);
  font-size: var(--heading--size);
  color: var(--main-font-color);
}

.hero {
  width: 1184px;
  padding-top: 7rem;
  line-height: 1;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  right: 12%;
  text-align: center;
  z-index: 10;
}

.standart-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.standart-flex-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.standart-grid-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}
